<!DOCTYPE html>
<html>

<head>
  <title> News </title>
  <link rel="stylesheet" type="text/css" href="../CSS/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="../images/logo.png" style="width: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">News</a>
        <a class="nav-item nav-link" href="/volunteer">Volunteer</a>
        <a class="nav-item nav-link" href="/donate">Donate</a>
        <a class="nav-item nav-link" href="/aboutus">About Us</a>
      </div>
    </div>
  </nav>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 25%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }
    
    .about-section {
      padding: 40px;
      text-align: center;
      background-color: #474e5d;
      color: white;
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    
    .button:hover {
      background-color: #555;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    </style>
    </head>

  <div class="about-section">
    <h1 class="mb-3" style="text-align:center">About Us Page</h1>
    <p style="text-align:justify">Hey there! Hope everyone is safe. We all know how the recent pandemic has affected everyone psychologically. After communicating with a lot of affected students and families, we found that a significant number of people have stopped watching the grim news updates, with hope becoming an increasingly rare virtue. We a team of first year students from the University of British Columbia have decided to build “HOPE” to bring more positivity into our lives. We believe that showcasing the progress made by humanity while also providing an outlet for individual contribution could really make a significant positive impact in these trying times.</p>
  </div>
  
  <h1 class="mt-2" style="text-align:center">Our Team</h1>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/images/Vishal.jpg" alt="Vishal" style="width:100%">
        <div class="container">
          <h2 class="mt-2">Vishal Desh</h2>
          <p>emailtovishy@gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/images/Pedro.jpeg" alt="Pedro" style="width:100%">
        <div class="container">
          <h2 class="mt-2">Pedro Machado</h2>
          <p>machadop1407@gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/images/Vismai.jpeg" alt="Vismai" style="width:100%">
        <div class="container">
          <h2 class="mt-2">Vismai Khanderao</h2>
          <p>vismai.khanderao@alumni.ubc.ca</p>
        </div>
      </div>
    </div>
  

  <div class="column">
    <div class="card">
      <img src="/images/Srujan.jpeg" alt="Srujan" style="width:100%">
      <div class="container">
        <h2 class="mt-2">Srujan Rao</h2>
        <p>john@example.com</p>
      </div>
    </div>
  </div>
</div>
  
  

  <footer class="page-footer font-small blue bottom" style="margin-top: 708px; background-color: #444c4f !important;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> Hope.com</a>
    </div>
  </footer>

</body>

</html>