<!DOCTYPE html>
<html>
<head>
    <title> Donate </title>
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="../images/logo.png" style="width: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">News</a>
        <a class="nav-item nav-link" href="/volunteer">Volunteer</a>
        <a class="nav-item nav-link" href="/donate">Donate</a>
        <a class="nav-item nav-link" href="/aboutus">About Us</a>
      </div>
    </div>
  </nav>
  <h1 class="display-1 font-weight-bold p-7 mt-3 text-center text-info">
    Donations
  </h1>
  
  <!--First Donation Link-->
  
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.givewell.org/sites/all/themes/gw_basic/logo.png"
              class="rounded pb-3 mx-auto d-block"
            />
            <a href="https://www.givewell.org" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              <strong>GiveWell</strong> researches and shares organizations that
              have the greatest impact with the money donated. You can choose
              the charity you would like to donate to and they do the rest. They
              also don't take a fee and are entirely non-profit. They are also
              extremely transparent about their research and criteria that they
              follow to find reliable charities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Second Donation Link-->
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.poverty-action.org/sites/default/files/thumbnails/image/give-directly-logo.png"
              class="rounded w-75 pb-3 mx-auto d-block"
            />
            <a href="https://www.givedirectly.org/" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              A nonprofit organization that uses donations to help provide
              relief for various emergencies. <strong>GiveDirectly</strong> has
              over 10 years of experience and has run disaster relief programs
              for both Hurricane Harvey and Maria. They've also helped deliver
              over $150 million in donations across the 6 countries in which
              they operate. Project 100, a Covid-19 initiative by GiveDirectly
              targets families in need in America and aims to help them get
              through the pandemic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Third Donation Link-->
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Food_Banks_Canada_logo.svg/1200px-Food_Banks_Canada_logo.svg.png"
              class="rounded w-50 h-60 pb-3 mx-auto d-block"
            />
            <a href="https://www.foodbankscanada.ca" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              <strong>Food Banks Canada</strong> uses donations to provide food
              to those in need. They maintain contact with a network of Food
              Banks across Canada to recieve donations and provide for the ones
              deeply affected by the pandemic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Fourth Donation Link-->
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.canadahelps.org/secure/img/canadahelps-en.svg"
              class="rounded pb-3 mx-auto d-block"
            />
            <a href="https://www.canadahelps.org" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              A broad spectrum charity that is currently help fight the battle
              against the COVID-19 in Canada. They maintain a list of charities
              you could donate to directly too.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Fifth Donation Link-->
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.sundayguardianlive.com/wp-content/uploads/2020/04/Kundan-WHO-reforms-edited_WHO.jpg"
              class="rounded h-60 w-50 pb-3 mx-auto d-block"
            />
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              <strong>The World Health Organization</strong> Solidarity Response
              Fund is an international effort to combat the drastic effects of
              the COVID-19. They provide funding to various organizations
              worldwide in an effort to prevent the spread of the disease while
              simultaneously improving the magnitude and efficiency of testing
              and providing an immediate response to adverse situations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Sixth Donation Link-->
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.doctorswithoutborders.org/themes/custom/msf/logo.svg"
              class="rounded pb-3 mx-auto d-block"
            />
            <a href="https://www.doctorswithoutborders.org" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              An international charity that helps provide medical care to places
              that don't have access to any. They currently have medical
              projects that operate in over 70 countries worldwide.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Seventh Donation Link-->
  <div class="container-fluid">
    <div class="card m-5 mx-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.globalgiving.org/img/logos/gg_horizontal_color_600.png"
              class="rounded w-50 pb-3 mx-auto d-block"
            />
            <a href="https://www.globalgiving.org/projects/coronavirus-relief-fund/" class="btn btn-block btn-sm btn-info" role="button">Donate!</a>
          </div>
          <div class="col-md-9">
            <p>
              The Coronavirus Relief Fund by
              <strong>Global Giving</strong> aims towards raising $10 million
              with the intention of using the money to fund medical
              professionals, provide much needed medical gear and equipment, and
              support families and older individuals deeply affected by the
              virus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer font-small blue bottom" style="margin-top: 308px; background-color: #444c4f !important;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/" > RateMyArt.com</a>
    </div>  
  </footer>
</body>



</html>
    
