body {
    height: 100%;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: rgb(58,123,213);
    background: linear-gradient(90deg, rgba(58,123,213,1) 0%, rgba(0,210,255,1) 100%);
}

a.nav-link {
    color: white !important;
    font-size: 30px;
    font-family: "Avenir-Next" sans-serif;
}

a.nav-link:hover {
    font-weight: 600;
}

#news-title {
    margin-top: 50px;
}

.container-fluid {
    margin-top: 30px;
}

.col-lg-4:hover {
    cursor: pointer;
}

#newLink {
     margin-top: 40px;
}

#newLink:hover {
    text-decoration: none;
}

footer {
    color: white;
}

footer a {
    font-size: 18px;
}