body {
    height: 100%;
}

.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    background-color: #0dafe0 !important;
}

a {
    color: white !important;
    font-size: 30px;
    font-family: "Avenir-Next" sans-serif;
}

a:hover {
    font-weight: 600;
}

/* .col-lg-4 {
    border: 2px solid black;
} */

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

footer {
    color: white;
}

footer a {
    font-size: 18px;
}